<div class="py-3 mt-4 d-none d-md-block">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3 d-none">
        <li class="nav-item">
            <a href="../main.html" class="nav-link px-2 text-body-secondary">Home</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">FAQs</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link px-2 text-body-secondary">About</a>
        </li>
    </ul>
    <p class="text-center text-body-secondary">
        &copy; 2024 All rights reserved.
    </p>
</div>
<div class="d-flex justify-content-between d-md-block d-md-none custom-img-size">
    <a href="../main.html">
        <img src="/res/home.png" alt="" class="img-fluid" style="width: 100px; height: 100px" />
    </a>
    <a href="../friends.html">
        <img src="/res/multiple-users-silhouette.png" alt="" class="img-fluid" style="width: 100px; height: 100px" />
    </a>
    <a href="../profile.html">
        <img src="/icon/human.png" alt="" class="img-fluid" style="width: 100px; height: 100px" />
    </a>
</div>