<nav class="navbar navbar-expand-md sticky-top justify-content-between">
    <!-- Logo Section -->
    <div class="d-flex flex-row align-items-center">
        <a class="p-2" href="../main.html">
            <img
                src="/icon/Logo.png"
                alt="Logo"
                class="responsive-image"
            />
        </a>
    </div>

    <!-- Dropdown Section -->
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="./icon/human.png" alt="Profile" style="width: 30px; height: 30px;" />
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="../profile.html">Profile</a></li>
            <li><a class="dropdown-item" href="../setting.html">Settings</a></li>
            <li>
                <a class="dropdown-item" onclick="logout()" href="../index.html">Logout</a>
            </li>
        </ul>
    </div>
</nav>
