<nav class="navbar navbar-expand-md">
    <div class="d-flex flex-row align-items-center">
        <a class="p-2" href="../main.html">
            <img src="/icon/eatmoji_icon.svg" alt="Logo" />
        </a>
        <p class="h2 p-2 d-none d-md-block">EatMOJI</p>
    </div>
    <form class="d-flex flex-row my-2 my-0 col-8 col-6">
        <input
            class="form-control mr-2 my-0 searchbox"
            placeholder="Search"
            aria-label="Search"
            type="search"
        />
        <button class="btn btn-outline-primary search-btn align-self-center">
            <i class="bi bi-search"></i>
        </button>
    </form>
    <div class="dropdown d-none d-md-block mx-auto">
        <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
        >
            <img src="./icon/human.png" alt="" />
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
                <a class="dropdown-item" onclick="logout" href="../index.html">Logout</a>
            </li>
        </ul>
    </div>
</nav>
