<style>
    .rounded-3 img {
    flex-basis: 95%;
    max-width: 95%;
}

</style>

<div
    class="rounded-3 p-2 d-flex flex-row justify-content-between gap-3" style="width: 100%;"
>

    <img class="rounded-3" src="https://picsum.photos/id/0/200" alt="" width="95%">
    <div>
        <h1>Some Restaurant</h1>
        <p>
            Some Description. Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Cumque eos dolor atque facilis quidem ipsam, quas
            autem sunt commodi, porro eum labore odio natus dolorum distinctio.
            Reiciendis totam ex ipsa?
        </p>
    </div>
</div>
