body {
    background-color: #b7e0ff;
    height: 100%;
}
.custom-gray-btn {
    background-color: #ffcfb3;
    border-color: #e1e2e2;
    padding: 0.8rem 3rem;
}

.custom-gray-btn:hover {
    background-color: #e78f81;
}

.custom-form {
    color: brown;
}

header {
    background-image: linear-gradient(to bottom, #b7e0ff, #b7e0ffaa, #b7e0ff00);
}

header nav form input {
    margin: 15px 0 0 15px;
    border-radius: 70%;
}

.searchbox {
    background-color: #ffcfb3;
    border-radius: 80px;
    height: 60px;
    flex-grow: 1;
    margin-right: 7px;
}

.search-btn {
    width: 50px;
    height: 50px;
    background-color: #ffcfb3;
    border: none;
    color: black;
    justify-content: center;
    border-radius: 50%;
    vertical-align: middle;
}

.search-btn:hover {
    background-color: #e78f81;
}

.search-btn i {
    font-size: 20px;
}

nav div a {
    color: black;
    text-decoration: none;
}

#restaurant-list > div {
    background-color: skyblue;
}

#restaurant-list > div:hover {
    background-color: #198754;
}

.account-section {
    padding: 2rem;
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto;
}

.account-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.account-email {
    color: gray;
    font-size: 14px;
    margin-bottom: 2rem;
}

.account-card {
    border: 1px solid #e0e0e0;
    padding: 1.5rem;
    text-align: left;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
    font-size: 14px;
    flex-basis: 300px; /* Ensures cards don’t stretch beyond 300px */
    padding: 20px; /* Adds space within each card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional for card definition */
}

.account-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 245, 205, 0.5);
}

.icon {
    font-size: 1.5rem;
    margin-right: 1rem;
}

footer {
    background-color: #ffcfb3;
}

/* Default styling for larger screens */
.mobile-footer {
    position: static;
    width: 100%;
}

/* Sticky footer styling for mobile screens */
@media (max-width: 768px) {
    .mobile-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        border-top: 1px solid #ddd;
    }

    /* Adding bottom padding to the main content */
    .container {
        padding-bottom: 50px; /* Adjust based on footer height */
    }
}
